@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --header-height: 3rem;

  --first-color: #2C66BC;
  --first-color-second: #3EBFC7;

  --title-color: #111111;
  --text-color: #333333;

  --input-color: #3EBFC7;
  --body-color: #fff;

  --body-font: "Roboto", sans-serif;

  --big-font-size: 2rem;
  --h1-font-size: 3rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.125rem;
  --default-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  --font-medium: 500;
  --font-bold: 700;

  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

body {
    margin: 20px 200px 0px 200px;
    font-family: var(--body-font);
    background-color: var(--body-color);
    overflow-x: hidden;
  }

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.section {
    padding: 2rem 0 4rem;
}
  
.section_title {
    font-size: var(--h1-font-size);
}

.nav {
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.nav_list {
    display: flex;
    column-gap: 4rem;
}

.nav_menu {
    margin-left: auto;
}

.nav_link{
      color: var(--text-color)
}

.btn_menu{
    background-color: var(--first-color-second);
    padding: var(--mb-0-5);
}

/* hero section  */
.hero{
  padding-top: 8rem;
  background-image: url("../image/hero_section.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: right;

}

.hero_data{
  width: 60%;
}

.hero_data_subtext{
  margin-top: 10px;
}
